@font-face {
    font-family: NunitoSans;
    src: url('https://fonts.google.com/specimen/Nunito+Sans');
}

body {
    font: NunitoSans;
    background: #fafafa;
}

p {
  font: NunitoSans;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 260px;
    max-width: 260px;
    background: #ffffff;
    color: #7e4098;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul li a {
    padding: 30px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7e4098;
    background: #fff;
    font-weight: bold;
}

#sidebar ul li.active>a,
a {
    color: #455560;
    background: #fff;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #f7f7f7;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

a>span {
    padding-left: 5%;
}

.fa-chevron-right {
    float: right;
    width: 8px;
    height: 15px;
    font-family: FontAwesome5Pro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}

.container {
    max-width: 86.45%;
    min-width: 86.45%;
}

.navbar.navbar-light {
    min-width: 100%;
    max-height: 70px;
    background-color: #7e4098;
}

input[type="text"] {
    background-color: #7e4098;
    border: 0px;
}

input[type="text"]:focus {
    background-color: #7e4098;
    color: #fff;
}

.dashboard-title {
    width: 123px;
    height: 32px;
    font: NunitoSans;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #455560;
    padding-left: 3%;
}



.grafico{
  max-width: 100%;
}

.card{
  width: 100%;
  font: NunitoSans;
}

.cards{
  padding-top: 20px;
  border-radius: 10px;
  font: NunitoSans;
}

.card1{
  margin-left: 1.6%;
  margin-right: 1.6%;
  min-width: 30%;
  font: NunitoSans;

}
.card2{
  font: NunitoSans;
  min-width: 30%;
  margin-left: 1.6%;
  margin-right: 1.6%;
}
.card3{
  min-width: 30%;
  margin-left: 1.6%;
  margin-right: 1.6%;
}

.row{
  /*border: 5px solid red;*/
}
